In [1]:
# Casting ( casting is a process to convert one data type to another data type its called casting

In [2]:
a=10

In [5]:
print(type(a))
print(a)

<class 'int'>
10

In [6]:
 # conversion of integer data type to float data type

In [10]:
b=float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [11]:
c=str(a)
print(c)
print(type(c))

10
<class 'str'>

In [12]:
# convertion of float to integer and string

In [13]:
d=10.00
print(d,type(d))

10.0 <class 'float'>

In [14]:
# string ko intenger mai convert tabhe ker paynge jab number hote (0-9) aagr vaiable aa gaya toh nhai ho payega

In [16]:
e="10"       
h=int(e)              # string convert into integer
print(h,type(h))

10 <class 'int'>

In [18]:
g=float(e)            # sting convert into float
print(g,type(g))

10.0 <class 'float'>

In [19]:
e

'10'

In [21]:
int(float(e))   # we have to convert float into integer

10

In [25]:
k="10.99"

In [28]:
z=eval(k)     # eval() is used for conversionof string into float and integers (both)

In [29]:
print(z,type(z))

10.99 <class 'float'>

In [10]:
# Eval():Eval() function is use for conversion of string to float and int (both)

In [11]:
# Casting on collection kind dataype (list,tuple,set frozenset)

In [ ]:
          # List to tuple

In [21]:
a=["shivam","kunal","rahul","tarun"]

In [22]:
print(a)

['shivam', 'kunal', 'rahul', 'tarun']

In [23]:
a.append("mahesh")

In [24]:
print(a)

['shivam', 'kunal', 'rahul', 'tarun', 'mahesh']

In [28]:
b=tuple(a)  # for no change we should change list into tuple ,, after tuple it cannot be change no other shwon in the tuple

In [27]:
print(b)

('shivam', 'kunal', 'rahul', 'tarun', 'mahesh')

In [29]:
   # List to Set

In [30]:
a=["shivam","kunal","rahul","tarun"]

In [31]:
a.append("shivam")

In [32]:
print(a)

['shivam', 'kunal', 'rahul', 'tarun', 'shivam']

In [33]:
set(a)   # it remove duplicasy

{'kunal', 'rahul', 'shivam', 'tarun'}

In [34]:
b=set(a)

In [35]:
print(b)

{'shivam', 'rahul', 'kunal', 'tarun'}

In [36]:
  # List to frozenset()

In [37]:
a=["shivam","kunal","rahul","tarun"]

In [38]:
frozenset(a)         # frozen set is also remove duplicasy

frozenset({'kunal', 'rahul', 'shivam', 'tarun'})

In [39]:
# Tuple to list, set, frozenset

In [5]:
a=("shivam","kunal","rahul","tarun")  # tuple is not remove duplicasy

In [6]:
print(type(a),a)

<class 'tuple'> ('shivam', 'kunal', 'rahul', 'tarun')

In [7]:
# to list

In [8]:
b=list(a)  # we assigned A into B for make list and after this we able to changes in the list

In [9]:
b

['shivam', 'kunal', 'rahul', 'tarun']

In [15]:
b.append("kunal")

In [16]:
print(b)

['shivam', 'kunal', 'rahul', 'tarun', 'tree', 'kunal']

In [17]:
a=tuple(b)  # list into tuple after this we cant make changes into the tuple

In [18]:
# tuple to set

In [20]:
print(a)

('shivam', 'kunal', 'rahul', 'tarun', 'tree', 'kunal')

In [21]:
set(a)             # it remove duplicasy

{'kunal', 'rahul', 'shivam', 'tarun', 'tree'}

In [22]:
# tuple to frozenset

In [23]:
frozenset(a)

frozenset({'kunal', 'rahul', 'shivam', 'tarun', 'tree'})