In [45]:
# There are twontypes of loop

   # 1st   for loop
   # 2nd   while loop

loop
   > for loop 
      > nested for loop
      > single for loop with pattern  
      > nested for loop with pattern 
      > list comprehension
      > set comprehension
      > Dictionary comprehension
      > tuple comprehension (generator)
      > Frozenset comprehension
      > break
      > continue
      > pass   

   > while Loop 

      > simple while loop
      > nested while loop 
      > simple while loop with pattern 
      > nested while loop with pattern
      > break
      > continue
      > pass

In [37]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
i=1
while i<10:
    print("hello world")
    i=i+1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [1]:
# While loop

In [2]:
i=1
while i<5:
    print(i)
    j=1
    while j<5:
        print(i,"hello world")
        j=j+1
    i+=1

1
1 hello world
1 hello world
1 hello world
1 hello world
2
2 hello world
2 hello world
2 hello world
2 hello world
3
3 hello world
3 hello world
3 hello world
3 hello world
4
4 hello world
4 hello world
4 hello world
4 hello world

In [6]:
i=1
while i<5:
    
    j=1
    while j<5:
        print(i,"hello world")
        j=j+1
    i+=1

1 hello world
1 hello world
1 hello world
1 hello world
2 hello world
2 hello world
2 hello world
2 hello world
3 hello world
3 hello world
3 hello world
3 hello world
4 hello world
4 hello world
4 hello world
4 hello world

In [7]:
i=1
while i<5:
    print("*")
    i=i+1

*
*
*
*

In [8]:
 print("*")
 print("**")
 print("***")
 print("****")
 print("*****")

*
**
***
****
*****

In [4]:
i=1
while i<6:
    print("*"*i)
    i+=1

*
**
***
****
*****

In [5]:
i=5
while i>0:
    print("*"*i)
    i=i-1

*****
****
***
**
*

In [6]:
i=1
while i<6:
    print("*"*(6-i))
    i=i+1

*****
****
***
**
*

In [7]:
i=1
while i<5:
    print(" "*(5-i)+"*"*(2*i-1))
    i=i+1

    *
   ***
  *****
 *******

In [ ]:
i=1
while i<=9:
    if i<=5:
        print(" "*(i-1)+"*"*(2*(6-i)-1))
    else:
        print(" "*(9-i)+"*"*((2*i)-9))
        i=i+1

In [1]:
i=1
while i<6:
    print("*"*(6-i))
    i=i+1

*****
****
***
**
*

In [2]:
j=1
for i in range(0,9):
    if i<5:
        print(" "*i+"* "*(5-i))
    else:
        print(" "*(8-i)+"* "*(i-3))

* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

In [14]:

\# pattern using nested loop

In [28]:
i=1
for i in range(5):
    for j in range(1):
        print("*",end="")
        print()

*
*
*
*
*

In [29]:
for i in range(5):       # this is vertically
    print("*")

*
*
*
*
*

In [33]:
for i in range(5):      # this is horizontally
    print("*",end=" ")

* * * * *

      > list comprehension
      > set comprehension
      > Dictionary comprehension
      > tuple comprehension (generator)

In [ ]:
# list comprehension

In [49]:
a=[]
for i in range(10):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
a=[]
for i in range(10):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
b=[i for i in range(10)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# set comprehension

In [52]:
a=set()
for i in range(10):
    a.add(i)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
b={ i for i in range(10)}
print(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
a=[1,2,3,4]
b=["rahul","mohan","sachin","tarun"]
for i in a,b:
    print(i)

[1, 2, 3, 4]
['rahul', 'mohan', 'sachin', 'tarun']

In [64]:
a=[1,2,3,4]
b=["rahul","mohan","sachin","tarun"]
for i,j in zip(a,b):
    print(i,j)

1 rahul
2 mohan
3 sachin
4 tarun

In [65]:
c={}
a=[1,2,3,4]
b=["rahul","mohan","sachin","tarun"]
for i,j in zip(a,b):
    c.update({i:j})

In [66]:
print(c)

{1: 'rahul', 2: 'mohan', 3: 'sachin', 4: 'tarun'}

In [67]:
# Dictionary comprehension

In [68]:
c={i:j for i,j in zip(a,b)}

In [69]:
print(c)

{1: 'rahul', 2: 'mohan', 3: 'sachin', 4: 'tarun'}

In [70]:
d={i:j for i,j in zip([1,2,3,4],["rahul","mohan","sachin","tarun"])}   # short hand

In [71]:
print(d)

{1: 'rahul', 2: 'mohan', 3: 'sachin', 4: 'tarun'}

In [ ]:
 # Tuple comprehension (generator)

In [72]:
a=()

In [73]:
print(a,type(a))

() <class 'tuple'>

In [74]:
b=(1,2,3)

In [75]:
b=b+(1,2,3,4)

In [76]:
print(b)

(1, 2, 3, 1, 2, 3, 4)

In [77]:
a=()
for i in range(10):
    a=a+(i,)
    print(a)

(0,)
(0, 1)
(0, 1, 2)
(0, 1, 2, 3)
(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5, 6)
(0, 1, 2, 3, 4, 5, 6, 7)
(0, 1, 2, 3, 4, 5, 6, 7, 8)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [78]:
a=()
for i in range(10):
    a=a+(i,)
print(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [79]:
a=()
for i in range(10):
    a=a+(i,)
    print(a,id(a))           # id is change in every number

(0,) 2716588425856
(0, 1) 2716587897600
(0, 1, 2) 2716584418240
(0, 1, 2, 3) 2716581057440
(0, 1, 2, 3, 4) 2716581057200
(0, 1, 2, 3, 4, 5) 2716583221792
(0, 1, 2, 3, 4, 5, 6) 2716583221984
(0, 1, 2, 3, 4, 5, 6, 7) 2716579676864
(0, 1, 2, 3, 4, 5, 6, 7, 8) 2716579677376
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9) 2716579680704

In [81]:
v=( i for i in range(10))
print(v)                       # generator make it object

<generator object <genexpr> at 0x00000278811A8110>

In [82]:
next(v)

0

In [83]:
next(v)

1

In [86]:
v.__next__()   # method that show us the next value

4

In [87]:
# Frozenset comprehension

In [89]:
a=frozenset()
for i in range(10):
    a=a.union({i})
    print(a)

frozenset({0})
frozenset({0, 1})
frozenset({0, 1, 2})
frozenset({0, 1, 2, 3})
frozenset({0, 1, 2, 3, 4})
frozenset({0, 1, 2, 3, 4, 5})
frozenset({0, 1, 2, 3, 4, 5, 6})
frozenset({0, 1, 2, 3, 4, 5, 6, 7})
frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8})
frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [90]:
a=frozenset()
for i in range(10):
    a=a.union({i})
print(a)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [92]:
frozenset({ i for i in range(10)})

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

      > break
      > continue
      > pass

In [94]:
# continue

#  Always inside the loop

In [95]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [100]:
for i in range(5):
    if i==2:                # 2 is not in ths function
        continue             # continue is not run  the function  
    print(i,"hello world")

0 hello world
1 hello world
3 hello world
4 hello world

In [104]:
for i in range(10):
    if i==2 or i==3 or i==5:               
        continue             # continue is not run  the function of that value ( 2,3,5 )
    print(i,"hello world")

0 hello world
1 hello world
4 hello world
6 hello world
7 hello world
8 hello world
9 hello world

In [107]:
for i in range(10):
    if i in [2,3,5]:     # This is the shorter method if we have so many values 
        continue
    print(i,"hello world")

0 hello world
1 hello world
4 hello world
6 hello world
7 hello world
8 hello world
9 hello world

In [110]:
for i in range(10):
    if i in [2,3,5]:
        continue
    elif i in  [1,4]:
        print(i,"hey shivam")
    else:
        print(i," hello world")

0  hello world
1 hey shivam
4 hey shivam
6  hello world
7  hello world
8  hello world
9  hello world

In [111]:
 # break      ( stop the function immedtely

(use inside  the loop only )

In [113]:
for i in range(10):
    if i==3:
        break
    print(i," hello world")

0  hello world
1  hello world
2  hello world

In [114]:
# pass   ( it help in run the function without compliation )

In [119]:
num1=int(input("Enter the number :"))
if num1%2==0:
    print("even number")
else:
    print("odd number")

print("hello world")

Enter the number : 10

even number
hello world

In [116]:
num1=int(input("Enter the number :"))
if num1%2==0:
    
else:
    print("odd number")
print("hello world")

IndentationError: expected an indented block after 'if' statement on line 2 (2617760158.py, line 4)

In [120]:
num1=int(input("Enter the number :"))
if num1%2==0:
    pass
else:
    print("odd number")

print("hello world")

Enter the number : 10

hello world

In [122]:
num1=int(input("Enter the number :"))
if num1%2==0:
    print("even number")
else:
    pass

print("hello world")

Enter the number : 11

hello world

 > while Loop 

      > single while loop
      > nested while loop 
      > simple while loop with pattern 
      > nested while loop with pattern
      > break
      > continue
      > pass

In [ ]:
initializer
while condition
    statement(s)
    increment/ decrement

In [124]:
i=1
while i<=5:
    print("hello world")
    i=i+1

hello world
hello world
hello world
hello world
hello world

In [132]:
a=["rahul","mohan","sachin","tarun"]
i=0
while i<4:
    print(a[i])
    i=i+1

rahul
mohan
sachin
tarun

In [135]:
a=["rahul","mohan","sachin","tarun"]
i=0
while i<4:
    print(a[-(i+1)])     # this reverse the list 
    i=i+1

tarun
sachin
mohan
rahul

In [137]:
a=["rahul","mohan","sachin","tarun"]
i=0
while i<4:
    print(i+1,a[-(i+1)])     
    i=i+1

1 tarun
2 sachin
3 mohan
4 rahul

In [140]:
a=["rahul","mohan","sachin","tarun"]
i=0
while i<4:
    print(i+1,"=",a[-(i+1)],sep="")     
    i=i+1

1=tarun
2=sachin
3=mohan
4=rahul

In [142]:
a=["rahul","mohan","sachin","tarun"]
new=[]
i=0
while i<4:
    new.append(a[-(i+1)])     
    i=i+1

In [143]:
print(new)    # order in the list is reverse

['tarun', 'sachin', 'mohan', 'rahul']

In [144]:
b="tarun"

In [145]:
print(b)

tarun

In [146]:
b[-1::-1]    # it reverse the letter of the word in (tarun)

'nurat'

In [151]:
a=["rahul","mohan","sachin","tarun"]
new=[]
i=0
while i<4:
    c=a[-(i+1)]
    d=c[-1::-1]      # it reverse the lettr of the word in the list
    new.append(d)    
    i=i+1
print(new)

['nurat', 'nihcas', 'nahom', 'luhar']

In [153]:
a=["rahul","mohan","sachin","tarun"]
new=[]
i=0
while i<4:      # it reverse the lettr of the word in the list
    new.append(a[-(i+1)][-1::-1] )    # shorter method 
    i=i+1
print(new)

['nurat', 'nihcas', 'nahom', 'luhar']

In [154]:
# pattern using simple while loop

In [155]:
i=1
while i<6:
    print("*"*i)
    i+=1

*
**
***
****
*****

In [157]:
for i in range(5):     # for loop
    print("*"*(i+1))

*
**
***
****
*****

In [1]:
i=1
while i<5:
    print(" "*(5-1)+"*"*i)
    i=i+1

    *
    **
    ***
    ****

In [2]:
print("* * * * *")
print("*       *")
print("*       *")
print("*       *")
print("* * * * *")

* * * * *
*       *
*       *
*       *
* * * * *

In [6]:
i=1
while  i<=9:
    if i==1 or i==5 or i==9:
        print("* "*5)
    else:
        print("*"+" "*7+"*")
    i=i+1

* * * * *
*       *
*       *
*       *
* * * * *
*       *
*       *
*       *
* * * * *

In [8]:
i=1
k=1
while  i<=9:
    if i==1 or i==5 or i==9:
        print("* "*5)
    elif i in [2,3,4]:
        print("*"+" "*k+"*"+" "*(6-k)+"*")
        k=k+2
    else:
        print("*"+" "*7+"*")
    i=i+1

* * * * *
* *     *
*   *   *
*     * *
* * * * *
*       *
*       *
*       *
* * * * *