In [2]:
# set

# Set constructor is set()
# Set literal is not Available
# Set is unordered set of sequences of element
# Set doesn't allow of duplicat values
# Set is mutable( changable)
# Set is not supported Nested set and concatination
# Set methods
# set does not allow mutable data type

In [3]:
# set {} , but this is not the literal of set we can use it

# Set is not ordered

In [4]:
a={1,1,1,2,2,3,4,5,6,6}  # It remove duplicacy of element

In [5]:
print(a)

{1, 2, 3, 4, 5, 6}

In [6]:
b={4,5,6,7,8,9}

In [8]:
print(a+b) # Set does not support concatination

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
print(a-b) # but it can support differnce between (a and b)

{1, 2, 3}

In [10]:
print(b-a)

{8, 9, 7}

In [11]:
print(a)

{1, 2, 3, 4, 5, 6}

In [12]:
a.add((2,5,8,96,52))  # This is add function

In [13]:
print(a)

{1, 2, 3, 4, 5, 6, (2, 5, 8, 96, 52)}

In [14]:
a.update([42,52,99])  # This is update function ( it update the values in the set)

In [15]:
print(a)

{1, 2, 3, 4, 5, 6, (2, 5, 8, 96, 52), 99, 42, 52}